# macOS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

# Editor
*.swp
*.swo
*~
.idea/
.vscode/
*.sublime-*

# OS generated
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
